<div class="bg-snow mt-16 mb-20 adaptive-container">
  <div class="px-4 py-6">
    <div class="text-primary-green mb-4 w-16 text-center font-bebas-neue">
      <div class="text-3xl leading-[1]">Nova</div>
      <div class="text-[12px] leading-[1]">Group</div>
    </div>

    <mat-accordion>
      <mat-expansion-panel class="!bg-transparent">
        <mat-expansion-panel-header class="[&_span:after]:border-primary-green">
          <mat-panel-title class="font-kanit !text-gray-700">
            Brands
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p
          class="capitalize font-kanit mt-1 text-gray-500"
          *ngFor="let text of texts"
        >
          {{ text }}
        </p>
      </mat-expansion-panel>

      <mat-expansion-panel class="!bg-transparent">
        <mat-expansion-panel-header class="[&_span:after]:border-primary-green">
          <mat-panel-title class="font-kanit !text-gray-700">
            Premium
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p
          class="capitalize font-kanit mt-1 text-gray-500"
          *ngFor="let text of texts"
        >
          {{ text }}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
