<div class="bg-snow mt-6 p-5">
  <img
    src="assets/trade-in.jpg"
    alt="mortgage"
    style="height: 240px; width: 100%; object-fit: cover; max-width: 100%"
    class="rounded-3xl"
  />
  <h2 class="text-gold font-medium font-bebas-neue mt-8 text-xl">Trade-in</h2>
  <p class="font-kanit font-light text-sm text-gray-500 mt-2 mb-10">
    Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua
  </p>

  <input
    type="text"
    placeholder="Address"
    class="bg-white w-full px-4 mb-5 h-[55px] rounded-lg outline-none font-kanit font-light placeholder:font-kanit placeholder:font-light placeholder:text-gray-500"
  />

  <div class="mb-2 text-gold">Count of rooms</div>
  <div class="flex gap-2 w-full text-center font-kanit font-medium text-lg">
    <div class="px-4 py-4 bg-gold text-white flex-1 rounded-md">1</div>
    <div class="px-4 py-4 bg-gold text-white flex-1 rounded-md">2</div>
    <div class="px-4 py-4 bg-gold text-white flex-1 rounded-md">3</div>
    <div class="px-4 py-4 bg-gold text-white flex-1 rounded-md">4+</div>
  </div>

  <div class="bg-white px-4 pt-2 pb-8 mt-4 mb-5 relative font-kanit rounded">
    <label class="text-gray-500 font-light">Specify the total area</label>
    <div class="flex justify-between">{{ slider.value }}</div>
    <mat-slider
      class="!w-[90%] !max-w-full !absolute !top-12 !left-2"
      [max]="99"
      [min]="22"
    >
      <input matSliderThumb #slider />
    </mat-slider>
  </div>

  <div (click)="openDialog()" class="mt-5">
    <app-common-button text="Leave a request"></app-common-button>
  </div>
</div>
