<div
  id="navbar"
  class="py-2 px-6 fixed inset-x-0 top-0 bg-white z-10 w-full md:px-16"
>
  <div class="flex items-center justify-between">
    <a routerLink="/">
      <div class="text-primary-green w-16 text-center font-bebas-neue">
        <div class="text-3xl leading-[1]">Nova</div>
        <div class="text-[12px] leading-[1]">Group</div>
      </div>
    </a>
    <div class="flex items-center">
      <div class="text-gold font-kanit">+7 000 000 00 00</div>
      <div class="ml-4">
        <user-svg></user-svg>
      </div>
    </div>
  </div>
</div>

<div class="h-[58px] w-full"></div>
