<div class="bg-snow mt-6 p-5">
  <img
    src="assets/installment.jpg"
    alt="mortgage"
    style="height: 240px; width: 100%; object-fit: cover; max-width: 100%"
    class="rounded-3xl"
  />
  <h2 class="text-gold font-medium font-bebas-neue mt-10 text-xl">
    installment
  </h2>
  <p class="font-kanit font-light text-sm text-gray-500 mt-2 mb-10">
    Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua
  </p>

  <app-slider [percentage]="16"></app-slider>

  <div (click)="openDialog()">
    <app-common-button text="Leave a request"></app-common-button>
  </div>
</div>
