<div class="p-2 lg:w-[300px] lg:pt-0">
  <div class="p-7 bg-metallic-gold rounded-xl text-white">
    <div class="text-lg lg:text-2xl font-medium pb-1 font-bebas-neue">
      Lorem ipsum dolor
    </div>
    <div class="flex items-center">
      <div class="text-sm font-kanit">
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua...
      </div>

      <div>
        <app-arrowbutton></app-arrowbutton>
      </div>
    </div>
  </div>
</div>

<div class="p-2 mt-4 lg:w-[300px] lg:pt-0 hidden lg:block">
  <div class="p-7 bg-snow rounded-xl text-black">
    <div class="text-lg font-medium pb-1 font-bebas-neue lg:text-2xl">
      Lorem ipsum dolor
    </div>
    <div class="flex items-center">
      <div class="text-sm font-kanit">
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua...
      </div>

      <div>
        <app-arrowbutton></app-arrowbutton>
      </div>
    </div>
  </div>
</div>
