<div class="bg-white px-4 pt-2 pb-8 mb-5 relative font-kanit rounded">
  <label class="text-gray-500 font-light">Property value</label>
  <div>{{ propertyValue | currency }}</div>
  <mat-slider
    class="!w-[90%] !max-w-full !absolute !top-12 !left-2"
    [max]="1505650"
    [min]="365325"
    [color]="color"
  >
    <input matSliderThumb [(ngModel)]="propertyValue" #slider />
  </mat-slider>
</div>

<div class="bg-white px-4 pt-2 pb-8 mb-5 relative font-kanit rounded">
  <label class="text-gray-500 font-light">Down payment</label>
  <div class="flex justify-between">
    <div>{{ downPayment | currency }}</div>
    <div>{{ percentage }}%</div>
  </div>
  <mat-slider
    class="!w-[90%] !max-w-full !absolute !top-12 !left-2"
    [max]="865000"
    [min]="102300"
    [color]="color"
  >
    <input matSliderThumb [(ngModel)]="downPayment" />
  </mat-slider>
</div>

<div class="bg-white px-4 pt-2 pb-8 mb-5 relative font-kanit rounded">
  <label class="text-gray-500 font-light">Year</label>
  <div>{{ year }}</div>
  <mat-slider
    class="!w-[90%] !max-w-full !absolute !top-12 !left-2"
    [max]="20"
    [min]="1"
    [color]="color"
  >
    <input matSliderThumb [(ngModel)]="year" />
  </mat-slider>
</div>

<div class="pl-4 mb-8">
  <span class="font-medium">from </span>
  <span class="text-xl font-kanit">{{ calculate.toFixed(0) | currency }}</span>
</div>
