/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");

@layer base {
  .adaptive-container {
    @apply mx-auto max-w-container-sm md:max-w-container-md lg:max-w-container-lg xl:max-w-container-xl;
  }
}

:root {
  --swiper-theme-color: #988064;
  --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
}

body {
  color: initial;
}
/* dialog  style*/
.panel {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  animation: slideTop 0.3s linear 1 alternate forwards;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}
/* dialog  style*/
.slide-panel-bottom {
  background: #fff !important;
  animation: slideBottom 0.3s linear 1 forwards;
}

@keyframes slideTop {
  from {
    top: 100%;
    opacity: 0.6;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}

@keyframes slideBottom {
  from {
    top: 40%;
    opacity: 1;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}

/* snackbar */
.error.mat-mdc-snack-bar-container {
  max-width: 240px;
  flex: none;
  margin: 100px auto 0px;
}
/* snackbar */
.error > div.mdc-snackbar__surface {
  background-color: #61b15a;
  color: #fff;
}

.marquee {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.container-for-marquee {
  height: 100%;
  position: absolute;
  width: 3000px;
  padding-top: 30px;
  will-change: transform;
  animation: marquee 60s linear -28s infinite;
  white-space: nowrap;
  overflow: hidden;
}
.container-for-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#bottomNavbar {
  transition: bottom 0.3s;
}

/* .marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} */
